@tailwind base;
@tailwind components;

.text {
    @apply text-gray-900 text-justify text-sm;
}

.title-small {
    @apply text-gray-900 text-2xl font-semibold pb-4 font-serif;
}

.title-large {
    @apply text-gray-900 text-3xl font-semibold font-serif;
}


/* https://google-webfonts-helper.herokuapp.com/fonts/ */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/playfair-display-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/playfair-display-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/playfair-display-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/playfair-display-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/playfair-display-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/playfair-display-v21-latin-regular.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

/* cinzel-500 - latin */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/cinzel-v11-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/cinzel-v11-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cinzel-v11-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cinzel-v11-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cinzel-v11-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cinzel-v11-latin-500.svg#Cinzel') format('svg'); /* Legacy iOS */
  }

@tailwind utilities;